# nixpacks.toml
providers = ["rust"]

[variables]
    NIXPACKS_METRI_RUST_VERSION = "stable"
    NIXPACKS_NO_NODE = "1"

[phases.setup]
    nixPkgs = ["rustup", "gcc", "pkg-config", "openssl"]

[phases.install]
    cmds = ["rustup default stable"]

[phases.build]
    cmds = ["cargo build --release"]

[start]
    cmd = "./target/release/apex-singularity"
